---
import IconArrowRotate from "@/components/icons/icon_arrow_rotate.astro";

const data = [
    {
        title: "Payment Assistance Programs",
        info: "We offer a range of programs to help income-eligible families and customers manage their energy bills, save energy and access additional resources.",
        src: "/images/img1.jpg",
        alt: "Wind Turbines",
        into: "into-right"
    },
    {
        title: "Income-Based Offers",
        info: "More and more customers can use extra assistance. National Grid is here to help you manage higher energy bills with incentives for energy-saving home improvements of 100% off, based on income eligibility.",
        src: "/images/img2.jpg",
        alt: "Power Outlet",
        into: "into-center"
    },
    {
        title: "Electric Heating & Cooling Heat Pumps",
        info: "Experience the all-in-one comfort and energy savings of high-efficiency heat pump technology that keeps your home warm in the winter and cool in the summer without using fossil fuels. ",
        src: "/images/img3.jpg",
        alt: "Solar Panels",
        into: "into-left"
    },
]
---

<section class="size-screen padding-auto grid grid-cols-1 lg:grid-cols-3 gap-[26px]">
    {data.map(( item ) => (
        <div class={`col gap-[26px] ${item.into}`}>
            <img src={item.src} alt={item.alt} />

            <h2 class="text-[24px] leading-[28px] font-medium">
                {item.title}
            </h2>

            <p class="text-lg text-[#5D5D5D]">
                {item.info}
            </p>

            <a href="" target="_blank" class="text-[#00148C] text-lg font-medium hover:underline row gap-2">
                <span>Start Now</span>
                <IconArrowRotate class="size-6 fill-[#00148C]" />
            </a>
        </div>
    ))}
</section>