---
import ButtonPrimaty from "@/components/common/button_primaty.astro";
import ButtonSquare from "@/components/common/button_square.astro";
import IconCoin from "@/components/icons/icon_coin.astro";
import IconMoney from "@/components/icons/icon_money.astro";
import IconQuestion from "@/components/icons/icon_question.astro";
import IconTruck from "@/components/icons/icon_truck.astro";

const data = [
    {
        text: "Pay my Bill",
        icon: IconMoney,
        description: "ComEd makes paying your bill easy secure online payments, by phone, or by mail. We also offer budget billing and auto-pay options."
    },
    {
        text: "Services & Rebates",
        icon: IconCoin,
        description: "Pay your bill online, by phone, or by mail. We also offer budget billing and auto-pay options."
    },
    {
        text: "Moving?",
        icon: IconTruck,
        description: "Moving can be stressful but it doesnt have to be. move, or stop your ComEd service online."
    },
    {
        text: "Outage",
        icon: IconQuestion,
        description: "If an outage occus, ComEd is committed to respomgimg as quickly as possible you informed along the way. You can report an outage online, by phone, or through our mobile app."
    },
]

const nameButton = "Explore Options";
const descriptionButton = "If you need support, we have programs that can help - like our new Payment Assistance Bundle.";
---

<section class="bg-[#180D67] text-white relative">
    <div class="px-5 lg:px-0 pt-[120px] pb-[280px] lg:pb-[220px] relative overflow-hidden">
        <div class="size-screen col gap-6 text-center lg:text-start z-10 relative">
            <h1 class="title into-bottom">
                Welcome to  <br> 
                ComEd
            </h1>
            <p class="paragraph into-bottom-2">
                We’re committed to powering a cleaner, brighter future <br class="br-hidden"> 
                for our customers and communities. We’ve made some updates <br class="br-hidden"> 
                to our website but the same information is still available, <br class="br-hidden"> 
                making it easier to find what you need.
            </p>
            <ButtonPrimaty
                onclick={`showModal('${nameButton}', '${descriptionButton}')`}
                text={nameButton} 
                className="mx-auto lg:mx-0 into-bottom-3" 
            />
        </div>
        
        <div class="size-screen lg:relative">
            <img 
                src="/images/wind_turbines_hero.png" 
                alt="Wind Turbines"
                class="absolute -bottom-28 lg:top-1/2 lg:-translate-y-1/2 left-6/12 p-6 border-2 into-right-2" 
                loading="eager"
            >
        </div>
    </div>

    <div class="w-full px-5 lg:px-0 lg:w-auto grid grid-cols-2 lg:flex flex-row gap-2.5 absolute-center-x -bottom-[200px] lg:-bottom-32 into-left">
        {data.map(({ text, icon: Icon, description }) => (
            <ButtonSquare onclick={`showModal('${text}', '${description}')`} text={text} className="">
                <Icon slot="icon" class="size-[30px] stroke-black" />
            </ButtonSquare>
        ))}
    </div>
</section>